fastapi
uvicorn
llama-index-core
llama_index.llms.groq
python-dotenv
thefuzz
langchain_groq
langchain_community
google-genai
pypdf
psycopg2-binary
openpyxl
sqlalchemy
pdfplumber
email-validator
requests
python-multipart
passlib==1.7.4
bcrypt==3.2.0
python-jose[cryptography]
